  .hiddenBig {
    display: none;
  }

  @media screen and (max-width:450px){

    .hiddenBig {
      display: inherit;
    }

    .hiddenMedia {
      display: none;
      color: '#F2FEFF'
    }
    
  }